<div>
  <mat-card
    [ngClass]="{'class-selections1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-selections2': savedThemeIndex == 'themeNbr2', 'class-selections3': savedThemeIndex == 'themeNbr3'}">
    <form #suggestionForm="ngForm" (ngSubmit)="onSubmit(suggestionForm)">
      <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="suggestionService.selectedSuggestion.name"
               placeholder="Jutun nimi" required>
      </div>
      <div class="form-group">
        <label>Lisää tietoa</label>
        <input class="form-control" name="info" #info="ngModel" [(ngModel)]="suggestionService.selectedSuggestion.info"
               placeholder="Kerro jotain lisää.." required>
      </div>
      <div class="form-group">
        <button mat-raised-button class="btn btn-default" type="submit" [disabled]="!suggestionForm.valid">Tallenna
        </button>
        <button mat-raised-button class="btn btn-default" type="button" (click)="resetForm(suggestionForm)">Peruuta
        </button>
      </div>
    </form>
  </mat-card>
</div>
