.oloKirjaLogo{
  position: absolute;
  left: 40%;
  top: 1%;
}

.homeCard {
  position: absolute;
  background: lightskyblue;
  padding: 2%;
  left: 33%;
  top: 35%;
  width: 30%;
  height: 45%;
  bottom: 50%;
  border-radius: 2%;
}

.homeTitle{
  position: absolute;
  left: 15%;
}

.directSignUpButton{
  position: absolute;
  top: 25%;
  left: 30%;
  width: 29.3%;
}

.directLogInButton{
  position: absolute;
  top: 55%;
  left: 30%;
}

.signUpText{
  position: absolute;
  top: 12%;
}

.logInText{
  position: absolute;
  top: 35%;
}

@media screen and (max-width: 640px){
  .oloKirjaLogo{
    position: absolute;
    top: 1%;
    left: 15%;
  }

  .homeCard{
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 30%;
    width: 80%;
    height: 65%;
    border-radius: 2%;
  }

  .homeTitle{
    position: absolute;
    left: 4%;
  }

  .directSignUpButton{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40.4%;
  }
}
