.selections {
  position: absolute;
  background: black;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

.class-selections1 {
  position: absolute;
  background: red;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}
/*
.class-theme1 {
  background-color: lightgoldenrodyellow;
  color: black;
}

.class-theme2 {
  background-color: darkslategrey;
  border-radius: 10%;
}

.class-theme3 {
  background-color: red;
}*/
/*
.icon {
  font-size: xx-large;
}*/

.menu-items {
  display: inline-block;
  margin: 10px;
}

.menu-button1 {
  height: 130px;
  border-radius: 50%;
  width: 130px;
}

.menu-button2 {
  height: 130px;
  border-radius: 50%;
  width: 130px;
  left: 50%;
}

.menu-button3 {
  position: absolute;
  height: 130px;
  border-radius: 50%;
  width: 130px;
  top: 50%;
  left: 8%;
}

.menu-button4 {
  position: absolute;
  height: 130px;
  border-radius: 50%;
  width: 130px;
  top: 50%;
  left: 58%;
}

.signOutButton{
  position: absolute;
  top: 90%;
  left: 35%;
}

@media screen and (max-width: 812px){
  .lizardSvg{
    position: absolute;
    top: 63%;
    left: 1%;
  }

  .dogPawSvg1{
    position: absolute;
    left: 30%;
  }

  .dogPawSvg2{
    position: absolute;
    left: 45%;
    top: 75%;
  }

  .dogPawSvg3{
    position: absolute;
    right: 35%;
    top: 57%;
  }

  .selections{
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }
  .class-selections1 {
    position: absolute;
    padding: 2%;
    background-color: lightblue;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .class-selections2 {
    position: absolute;
    padding: 2%;
    background-color: dimgrey;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .class-selections3 {
    position: absolute;
    padding: 2%;
    background-color: gold;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .menu-button1{
    position: absolute;
    background-color: sandybrown;
    color: white;
    height: 110px;
    top: 5%;
    width: 110px;
    left: 6.4%;
  }

  .menu-button2{
    position: absolute;
    background-color: sandybrown;
    color: white;
    top: 5%;
    height: 110px;
    width: 110px;
    left: 56%;
  }

  .menu-button3{
    position: absolute;
    background-color: sandybrown;
    color: white;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 6.4%;
  }

  .menu-button4{
    position: absolute;
    background-color: sandybrown;
    color: white;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 56%;
  }

  .menu-button1theme2{
    position: absolute;
    background-color: darkslategrey;
    color: white;
    height: 110px;
    top: 5%;
    width: 110px;
  }

  .menu-button2theme2{
    position: absolute;
    background-color: darkslategrey;
    color: white;
    top: 5%;
    height: 110px;
    width: 110px;
    left: 56%;
  }

  .menu-button3theme2{
    position: absolute;
    background-color: darkslategrey;
    color: white;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 6.4%;
  }

  .menu-button4theme2{
    position: absolute;
    background-color: darkslategrey;
    color: white;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 56%;
  }

/* TEEMA3 TESTAUSTA*/
  .menu-button1theme3{
    position: absolute;
    background-color: limegreen;
    border-radius: 14%;
    height: 130px;
    top: 5%;
    width: 100px;
  }

  .menu-button2theme3{
    position: absolute;
    background-color: saddlebrown;
    border-radius: 14%;
    top: 20%;
    height: 110px;
    width: 110px;
    left: 56%;
  }

  .menu-button3theme3{
    position: absolute;
    background-color: red;
    border-radius: 14%;
    height: 110px;
    width: 110px;
    top: 35%;
    left: 6.4%;
  }

  .menu-button4theme3{
    position: absolute;
    background-color: blue;
    border-radius: 14%;
    height: 110px;
    width: 110px;
    top: 50%;
    left: 56%;
  }

  .signOutButton{
    position: absolute;
    top: 90%;
    left: 30%;
  }

  @media screen and (max-width: 375px){
    .menu-button3{
      position: absolute;
      top: 40%;
    }

    .menu-button4{
      position: absolute;
      top: 40%;
    }
  }
}
