.selections {
  position: absolute;
  background: black;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

.class-selections1 {
  position: absolute;
  background: red;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

.class-theme1 {
  background-color: lightgoldenrodyellow;
  color: black;
}

.class-theme2 {
  background-color: darkslategrey;
}

.class-theme3 {
  background-color: red;
}

.icon {
  font-size: xx-large;
}

.menu-items {
  display: inline-block;
  margin: 10px;
}

.menu-button1 {
  height: 130px;
  width: 130px;
}

.menu-button2 {
  height: 130px;
  width: 130px;
  left: 50%;
}

.menu-button3 {
  position: absolute;
  height: 130px;
  width: 130px;
  top: 50%;
  left: 8%;
}

.menu-button4 {
  position: absolute;
  height: 130px;
  width: 130px;
  top: 50%;
  left: 58%;
}

@media screen and (max-width: 812px){
  .selections{
    position: absolute;
    padding: 2%;
    left: 12%;
    top: 15%;
    width: 70%;
    height: 60%;
    bottom: 50%;
    border-radius: 2%;
  }
  .class-selections1 {
    position: absolute;
    padding: 2%;
    background-color: lightblue;
    left: 12%;
    top: 15%;
    width: 70%;
    height: 60%;
    bottom: 50%;
    border-radius: 2%;
  }

  .class-selections2 {
    position: absolute;
    padding: 2%;
    background-color: dimgrey;
    left: 12%;
    top: 15%;
    width: 70%;
    height: 60%;
    bottom: 50%;
    border-radius: 2%;
  }

  .class-selections3 {
    position: absolute;
    padding: 2%;
    background-color: gold;
    left: 12%;
    top: 15%;
    width: 70%;
    height: 60%;
    bottom: 50%;
    border-radius: 2%;
  }

  .menu-button1{
    position: absolute;
    height: 110px;
    width: 110px;
  }

  .menu-button2{
    position: absolute;
    height: 110px;
    width: 110px;
    left: 56%;
  }

  .menu-button3{
    position: absolute;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 6.4%;
  }

  .menu-button4{
    position: absolute;
    height: 110px;
    width: 110px;
    top: 30%;
    left: 56%;
  }

  @media screen and (max-width: 375px){
    .menu-button3{
      position: absolute;
      top: 40%;
    }

    .menu-button4{
      position: absolute;
      top: 40%;
    }
  }
}
