<div class="selection-container">
  <mat-card
    [ngClass]="{'class-selections1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-selections2': savedThemeIndex == 'themeNbr2', 'class-selections3': savedThemeIndex == 'themeNbr3'}">
    <mat-list-item class="menu-items">
      <button [routerLink]="['/day-tracking']"
              [ngClass]="{'class-theme1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-theme2': savedThemeIndex == 'themeNbr2', 'class-theme3': savedThemeIndex == 'themeNbr3'}"
              mat-fab class="menu-button1" (click)="createNewData()">
        <mat-icon class="icon">create</mat-icon>
        <br>
        Kerro päivästäsi
      </button>
    </mat-list-item>
    <mat-list-item class="menu-items">
      <button
        [routerLink]="['/anxiety']"
        [ngClass]="{'class-theme1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-theme2': savedThemeIndex == 'themeNbr2', 'class-theme3': savedThemeIndex == 'themeNbr3'}"
        mat-fab class="menu-button2">
        <mat-icon class="icon">stars</mat-icon>
        <br>Jos ahdistaa
      </button>
    </mat-list-item>
    <mat-list-item class="menu-items">
      <button
        [routerLink]="['/relief']"
        [ngClass]="{'class-theme1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-theme2': savedThemeIndex == 'themeNbr2', 'class-theme3': savedThemeIndex == 'themeNbr3'}"
        mat-fab class="menu-button3">
        <mat-icon class="icon">live_help</mat-icon>
        <br>
        Kriisitilanne
      </button>
    </mat-list-item>
    <mat-list-item class="menu-items">
      <button
        [routerLink]="['/own-suggestion']"
        [ngClass]="{'class-theme1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-theme2': savedThemeIndex == 'themeNbr2', 'class-theme3': savedThemeIndex == 'themeNbr3'}"
        mat-fab class="menu-button4">
        <mat-icon class="icon">add</mat-icon>
        <br>
        Lisää oma juttu
      </button>
    </mat-list-item>
    <mat-list-item class="signOutButton">
      <button mat-flat-button (click)="logout()" *ngIf="authService.user | async">Kirjaudu ulos</button>
    </mat-list-item>
  </mat-card>
</div>
