.settings-container {
  position: absolute;
  top: 15%;
  background: lightskyblue;
  height: 60%;
  width: 60%;
  left: 19%;
  padding: 2%;
  border-radius: 2%;
}

.themeHeader {
  text-align: center;
}

.back-to-menu {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.class-theme1 {
  background-color: lightgoldenrodyellow;
  color: black;
}

.class-theme2 {
  background-color: darkslategrey;
}

.class-theme3 {
  background-color: red;
}

.class-cardtheme1 {
  position: absolute;
  top: 15%;
  background: lightblue;
  height: 60%;
  width: 60%;
  left: 19%;
  padding: 2%;
  border-radius: 2%;
}

.class-cardtheme2 {
  position: absolute;
  top: 15%;
  background: dimgrey;
  height: 60%;
  width: 60%;
  left: 19%;
  padding: 2%;
  border-radius: 2%;
}

.class-cardtheme3 {
  position: absolute;
  top: 15%;
  background: gold;
  height: 60%;
  width: 60%;
  left: 19%;
  padding: 2%;
  border-radius: 2%;
}
