<div [ngClass]="{'class-cardtheme1': themeIndex == 'themeNbr1', 'class-cardtheme2': themeIndex == 'themeNbr2', 'class-cardtheme3': themeIndex == 'themeNbr3'}">
  <h2 class="themeHeader">Valitse teema</h2>
  <mat-card >
    <mat-list-item>
      <label class="theme-label">Valitse teema</label>
      <mat-select [(value)]="selectedTheme">
        <mat-option (click)="changeTheme('themeNbr1')" value="1. teema">Vaalea</mat-option>
        <mat-option (click)="changeTheme('themeNbr2')" value="2. teema">Tumma</mat-option>
        <mat-option (click)="changeTheme('themeNbr3')" value="3. teema">Värikäs</mat-option>
      </mat-select>
    </mat-list-item>
  </mat-card>
  <!--<button [ngClass]="{'class-theme1': themeIndex == 'themeNbr1', 'class-theme2': themeIndex == 'themeNbr2'}" mat-fab>TEKSTIÄ</button>
  <button *ngIf="themeIndex == 'themeNbr1' || themeIndex == 'themeNbr2'" mat-fab>Eka tai toka</button>
  <button *ngIf="themeIndex == 'themeNbr3'" mat-raised-button>Kolmas</button>-->

  <button [routerLink]="['/menu']" [ngClass]="{'class-theme1': themeIndex == 'themeNbr1', 'class-theme2': themeIndex == 'themeNbr2', 'class-theme3': themeIndex == 'themeNbr3'}"
          mat-fab class="back-to-menu">
    <mat-icon class="icon">done</mat-icon></button>
  </div>
