.class-selections1 {
  position: absolute;
  padding: 2%;
  background-color: lightblue;
  left: 8%;
  top: 15%;
  width: 80%;
  height: 125%;
  border-radius: 2%;
}

.class-selections2 {
  position: absolute;
  padding: 2%;
  background-color: dimgrey;
  left: 8%;
  top: 15%;
  width: 80%;
  height: 125%;
  border-radius: 2%;
}

.class-selections3 {
  position: absolute;
  padding: 2%;
  background-color: gold;
  left: 8%;
  top: 15%;
  width: 80%;
  height: 125%;
  border-radius: 2%;
}

.returnAnxietyButton {
  position: absolute;
  margin-left: 5%;
  top: 93%;
}

.anxietyHelp {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.addSuggestionButton {
  position: absolute;
  left: 65%;
  top: 91%;
  height: 70px;
  width: 70px;
}

@media screen and (max-width: 640px){
  .class-selections1 {
    position: absolute;
    padding: 2%;
    background-color: lightblue;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 145%;
    border-radius: 2%;
  }

  .class-selections2 {
    position: absolute;
    padding: 2%;
    background-color: dimgrey;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 145%;
    border-radius: 2%;
  }

  .class-selections3 {
    position: absolute;
    padding: 2%;
    background-color: gold;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 145%;
    border-radius: 2%;
  }
}
