/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body {
  padding: 0;
  margin: 0;
}

input.ng-invalid.ng-dirty{
  border: 1px solid red;
}

.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  color: green;
  display: flex;
}

.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bold;
}

/*

 */
