.ownSuggestionCard1{
  position: absolute;
  background: lightskyblue;
  top: 15%;
  height: 60%;
  width: 30%;
  left: 30%;
  padding: 2%;
  border-radius: 2%;
}

/* Input for own suggestion to a difficult moment starts here. */
.inputSuggestion{
  position: absolute;
  top: 35%;
  left: 6%;
  width: 80%;
  margin-bottom: 70%;
}
/* Input for own suggestion to a difficult moment stops here. */

.saveSuggestionButton{
  position: absolute;
  left: 75%;
  top: 85%;
  height: 10%;
  width: 20%;
}

.cancelSuggestionButton{
  position: absolute;
  top: 85%;
  height: 10%;
  width: 20%;
  background: orangered;
}

/* The placement for an error message starts here (if there was no name for the suggestion). */
.errorMessageName{
  position: absolute;
  left: 50%;
  top: 24%;
}
/* The placement for an error message stops here (if there was no name for the suggestion). */

/* The placement for an error message starts here (if there was no suggestion written). */
.errorMessageSuggestion{
  position: absolute;
  top: 70%;
}
/* The placement for an error message stops here (if there was no suggestion written). */


/*scaled for iPhoneX*/
@media screen and (max-width: 640px) {
  .ownSuggestionCard1 {
    position: absolute;
    background-color: lightblue;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }
  .ownSuggestionCard2 {
    position: absolute;
    background-color: dimgrey;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }
  .ownSuggestionCard3 {
    position: absolute;
    background-color: gold;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .suggestionName {
    right: -4%;
  }

  .saveSuggestionButton {
    position: absolute;
    left: 65%;
    top: 85%;
    height: 6%;
    width: 30%;
  }

  .cancelSuggestionButton {
    position: absolute;
    top: 85%;
    height: 6%;
    width: 30%;
    background: orangered;
  }

  .errorMessageName {
    position: absolute;
    font-size: smaller;
    margin-top: 10%;
    left: 6%;
  }

   .errorMessageSuggestion {
     position: absolute;
     font-size: smaller;
     margin-top: 1%;
     left: 6%;
   }

   .inputSuggestion{

   }
}
/*scaled for iPhone5*/
@media screen and (max-width: 320px) {
  .cancelSuggestionButton {
    position: absolute;
    top: 85%;
    height: 10%;
    width: 40%;
  }
  .saveSuggestionButton {
    position: absolute;
    left: 55%;
    top: 85%;
    height: 10%;
    width: 40%;
  }
  .inputSuggestion {
    margin-top: 10%;
  }
  .errorMessageName {
    display: inline-block;
  }
}
