.sidenavContainer {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  width: 250px;
}

.sidenavToolbar {
  position: relative;
  background: blueviolet;
  top: 0;
  height: 10.5%;
  font-family: Arial, serif;
}

.app-user-name {
  font: caption;
  font-size: small;
  color: white;
  text-align: center;
  background: #616161;
}

.reportButton{
  position: absolute;
  left: 22%;
  top: 20%;
}

.settingsButton{
  position: absolute;
  left: 22%;
  top: 30%;
}

.signOutButton{
  position: absolute;
  left: 22%;
  top: 40%;
}

.userEmail{
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

@media screen and (max-width: 375px){
  .sidenavToolbar{
    position: relative;
    top: 0;
    height: 7%;
  }
}
