.sidenavContainer {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  width: 250px;
}

.sidenavToolbar {
  position: relative;
  background: blueviolet;
  height: 10.5%;
}

.app-user-name {
  font: caption;
  font-size: small;
  color: white;
  text-align: center;
  background: #616161;
}

.reportButton{
  position: absolute;
  left: 22%;
  top: 20%;
}

.settingsButton{
  position: absolute;
  left: 22%;
  top: 30%;
}

.signOutButton{
  position: absolute;
  left: 22%;
  top: 40%;
}
