<mat-card class="loginCard">
  <h3 class="loginTitle">Sisäänkirjautuminen</h3>
  <div *ngIf="!(authService.user | async)">
    <mat-form-field class="inputEmail">
      <label>
        <input matInput type="text" [(ngModel)]="email" placeholder="Sähköposti">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="inputPassword">
      <label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Salasana">
      </label>
    </mat-form-field>
    <br>
    <button mat-raised-button class="loginButton" (click)="login()" [disabled]="!email || !password">Kirjaudu sisään</button>
  </div>
</mat-card>
