<mat-card class="loginCard">
  <h3 class="loginTitle">Sisäänkirjautuminen</h3>
  <div *ngIf="!(authService.user | async)">
    <mat-form-field class="inputEmail">
      <label>
        <input matInput type="text" [(ngModel)]="email" placeholder="Sähköposti">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="inputPassword">
      <label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Salasana">
      </label>
    </mat-form-field>
    <br>
    <button mat-raised-button class="loginButton" (click)="login('loggedIn')" [disabled]="!email || !password">Kirjaudu sisään</button>
    <!-- 'loggedIn' -->
  </div>
  <div class="redirectToSignUp">
    <span>Etkö ole vielä rekisteröitynyt? <br> Voit tehdä sen painamalla<span style="color: yellow" class="redirect" routerLink="/signup"> tästä.</span></span>
  </div>
</mat-card>
<img class="oloKirjaLogo" src="../../assets/images/olokirja_logosvg.svg" alt="kuva" height="200" width="300">
