<mat-card class="loginCard">
  <h3 class="loginTitle">Sisäänkirjautuminen</h3>
  <div>
    <mat-form-field class="inputEmail">
      <label>
        <input matInput type="text" placeholder="Sähköposti">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="inputPassword">
      <label>
        <input matInput type="password" placeholder="Salasana">
      </label>
    </mat-form-field>
    <br>
    <button mat-raised-button class="loginButton">Kirjaudu sisään</button>
  </div>
</mat-card>
