.ownSuggestion1 {
   display: inline-block;
   background-color: lightblue;
   width: 100%;
   border-radius: 5%;
 }

.ownSuggestion2 {
  display: inline-block;
  background-color: lightgrey;
  width: 100%;
  border-radius: 5%;
}

.ownSuggestion3 {
  display: inline-block;
  background-color: deeppink;
  width: 100%;
  border-radius: 5%;
}

.suggestionName {
  margin-left: 5%;
  margin-right: 5%;
  font-size: x-large;
  width: 80%;
  margin-top: 5%;
}

.suggestionInfo {
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
  width: 80%;
}


