<h2 class="text-center">Omat ehdotukset</h2>
<div>
  <mat-card [ngClass]="{'ownSuggestion1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'ownSuggestion2': savedThemeIndex == 'themeNbr2', 'ownSuggestion3': savedThemeIndex == 'themeNbr3'}" *ngFor="let suggestion of suggestionList">
    <div class="suggestion">
    <p class="suggestionName">{{suggestion.name}}</p>
    <p class="suggestionInfo">- {{suggestion.info}}</p>
    </div>
    <a class="btn" (click)="onDelete(suggestion.$key)">
      <i class="fa fa-trash-o"></i>
    </a>
  </mat-card>
</div>
