.reliefCard {
  position: absolute;
  background: lightskyblue;
  top: 15%;
  height: 60%;
  width: 30%;
  left: 30%;
  padding: 2%;
  border-radius: 2%;
}

.outButton1 {
  position: absolute;
  left: 5%;
  height: 30%;
  width: 35%;
}

.breathingExerciseButton {
  position: absolute;
  left: 60%;
  height: 30%;
  width: 35%;
}

.crisisPhoneButton {
  position: absolute;
  top: 40%;
  left: 5%;
  height: 30%;
  width: 35%;
}

.ownSuggestionButton {
  position: absolute;
  left: 60%;
  top: 40%;
  height: 30%;
  width: 35%;
}

.addSuggestionButton {
  position: absolute;
  left: 75%;
  top: 75%;
  height: 20%;
  width: 20%;
}

.returnMenuButton {
  position: absolute;
  top: 85%;
}

.relief-items {
  display: inline-block;
  margin: 10px;
}

/*scaled for iPhoneX*/
@media screen and (max-width: 375px) {
  .class-theme1 {
    position: absolute;
    background-color: lightblue;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }
  .class-theme2 {
    position: absolute;
    background-color: dimgrey;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }
  .class-theme3 {
    position: absolute;
    background-color: gold;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .outButton1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    color: black;
    left: 5%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .outButton2 {
    position: absolute;
    background-color: darkslategrey;
    color: white;
    left: 5%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .outButton3 {
    position: absolute;
    background-color: red;
    left: 5%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .breathingButton1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    color: black;
    left: 57%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .breathingButton2 {
    position: absolute;
    background-color: darkslategrey;
    color: white;
    left: 57%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .breathingButton3 {
    position: absolute;
    background-color: red;
    left: 57%;
    top: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .crisisPhoneButton1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    color: black;
    top: 30%;
    left: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .crisisPhoneButton2 {
    position: absolute;
    background-color: darkslategrey;
    color: white;
    top: 30%;
    left: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .crisisPhoneButton3 {
    position: absolute;
    background-color: red;
    top: 30%;
    left: 5%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .ownSuggestionButton1 {
    position: absolute;
    background-color: lightgoldenrodyellow;
    color: black;
    left: 57%;
    top: 30%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .ownSuggestionButton2 {
    position: absolute;
    background-color: darkslategrey;
    color: white;
    left: 57%;
    top: 30%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .ownSuggestionButton3 {
    position: absolute;
    background-color: red;
    left: 57%;
    top: 30%;
    height: 20%;
    width: 38%;
    border-radius: 5%;
  }

  .addSuggestionButton {
    position: absolute;
    /*background-color: indigo;*/
    left: 60%;
    top: 80%;
    height: 80px;
    width: 80px;
  }

  .returnMenuButton {
    position: absolute;
    top: 85%;
    left: 10%;
  }
}

/*scaled for iPhone5*/
@media screen and (max-width: 320px) {
  .reliefCard {
    position: absolute;
    top: 15%;
    height: 60%;
    width: 65%;
    left: 15%;
    padding: 2%;
    border-radius: 2%;
  }

  .addSuggestionButton {
    /*background-color: yellow;*/
    height: 60px;
    width: 60px;
    left: 70%;
  }
}


