.toolbar-header {
  position: center;
}

.class-theme1 {
  background-color: lightgoldenrodyellow;
  color: black;
}

.class-theme2 {
  background-color: darkslategrey;
}

.class-theme3 {
  background-color: red;
}
