<mat-toolbar color="primary">
   <button mat-icon-button (click)="onMenuClick()">
     <mat-icon class="mat-18">menu</mat-icon>
   </button>
    <h1 class="toolbar-header">Mental Health App</h1>
 </mat-toolbar>


<!--

 <mat-drawer-container class="sidenav-container" autosize>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="icon">menu</mat-icon>
    </button>
    <h1 class="toolbar-header">Mental Health App</h1>
  </mat-toolbar>
  <mat-drawer #sidenav class="sidenav" mode="side">
    <p>Tekstiä</p>
    <p>LISSÄÄ TEKSTIÄ</p>
  </mat-drawer>
</mat-drawer-container>

 -->
