
<div class="dayTrackingPage">
  <div [ngClass]="{'dayTrackingText1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'dayTrackingText2': savedThemeIndex == 'themeNbr2', 'dayTrackingText3': savedThemeIndex == 'themeNbr3'}">
    <mat-card class="dayTrackingText">
      <h3 align="center">Kooste päivästä</h3>
      <p>Pysähdy hetkeksi miettimään, mitä teit tänään, miltä arki tuntui? Mikä on hyvin?
        Voit jälkeenpäin katsoa päiväkirjaasi<span style="color: hotpink"> täältä.</span></p>
    </mat-card>
  </div>
  <div
    [ngClass]="{'class-theme1': savedThemeIndex == 'themeNbr1' || savedThemeIndex == null, 'class-theme2': savedThemeIndex == 'themeNbr2', 'class-theme3': savedThemeIndex == 'themeNbr3'}">
    <!-- Question about how the day has been. -->
    <mat-card class="questionCard" *ngFor="let question of dayTrackingItemsList">
      {{ question.question }}
      <mat-slider class="slider" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValue" id="mood">{{question.answerList[matSlider.value]}}</div>
    </mat-card>

    <!-- Question about symptoms. -->
    <mat-card class="questionCardSymptom" *ngFor="let question of dayTrackingSymptom">
      {{ question.question }}
      <mat-slider class="sliderSymptom" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueSymptom" id="symptom">{{question.answerListSymptom[matSlider.value]}}</div>
    </mat-card>

    <mat-form-field class="symptomDetail">
      <label for="inputSymptomDetail">
        <textarea matInput type="text"
                  id="inputSymptomDetail"
                  placeholder="Miten selvisin tilanteesta:"
                  maxlength="120"></textarea>
      </label>
    </mat-form-field>

    <!-- Question about how much sleep did you get. -->
    <mat-card class="questionCardSleep" *ngFor="let question of dayTrackingSleep">
      {{ question.question }}
      <mat-slider class="sliderSleep" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueSleep" id="sleepTime">{{question.answerListSleep[matSlider.value]}}</div>
    </mat-card>

    <!-- Question about how eating -->
    <mat-card class="questionCardEat" *ngFor="let question of dayTrackingEat">
      {{ question.question }}
      <mat-slider class="sliderEat" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueEat" id="eat">{{question.answerListEat[matSlider.value]}}</div>
    </mat-card>

    <!-- Question about how much exercise did you get. -->
    <mat-card class="questionCardExercise" *ngFor="let question of dayTrackingExercise">
      {{ question.question }}
      <mat-slider class="sliderExercise" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueExercise" id="exercise">{{question.answerListExercise[matSlider.value]}}</div>
    </mat-card>

    <!-- Question about contacting people. -->
    <mat-card class="questionCardContact" *ngFor="let question of dayTrackingContact">
      {{ question.question }}
      <mat-slider class="sliderContact" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueContact" id="contact">{{question.answerListContact[matSlider.value]}}</div>
    </mat-card>

    <!-- Question about things that brought happiness. -->
    <mat-card class="questionCardHappiness" *ngFor="let question of dayTrackingHappiness">
      {{ question.question }}
      <mat-slider class="sliderHappiness" min="0" max="4" step="1" #matSlider></mat-slider>
      <div class="sliderValueHappiness" id="happiness">{{question.answerListHappiness[matSlider.value]}}</div>

      <h3 class="goodThingsTitle">Kolme hyvää asiaa tänään:</h3>

      <mat-form-field class="firstGoodThing">
        <label for="inputFirstGoodThing">
        <textarea matInput type="inputFirstGoodThing"
                  id="inputFirstGoodThing"
                  placeholder="Ensimmäinen hyvä asia päivässä:"
                  maxlength="170"></textarea>
        </label>
      </mat-form-field>

      <mat-form-field class="secondGoodThing">
        <label for="inputSecondGoodThing">
        <textarea matInput type="inputSecondGoodThing"
                  id="inputSecondGoodThing"
                  placeholder="Toinen hyvä asia päivässä:"
                  maxlength="170"></textarea>
        </label>
      </mat-form-field>

      <mat-form-field class="thirdGoodThing">
        <label for="inputThirdGoodThing">
        <textarea matInput type="inputThirdGoodThing"
                  id="inputThirdGoodThing"
                  placeholder="Kolmas hyvä asia päivässä:"
                  maxlength="170"></textarea>
        </label>
      </mat-form-field>

      <h3 class="goodThingsToRememberTitle">Mitä muuta haluan muistaa tästä päivästä:</h3>

      <mat-form-field class="goodThingsToRemember">
        <label for="inputGoodThingsToRemember">
        <textarea matInput type="inputGoodThingsToRemember"
                  id="inputGoodThingsToRemember"
                  placeholder="Päivästä täytyy muistaa myös:"
                  maxlength="300"></textarea>
        </label>
      </mat-form-field>

      <button [routerLink]="['/menu']" class="saveButton" mat-raised-button (click)="saveDayTracking()">Tallenna
      </button>
      <button [routerLink]="['/menu']" class="cancelDayTrackingButton" mat-raised-button>Peruuta</button>
    </mat-card>
  </div>
</div>
