.dayTrackingPage{
  overflow: auto;
  height: 100%;
}

.dayTrackingText1{
  position: absolute;
  background: lightblue;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 15%;
}

.dayTrackingText2{
  position: absolute;
  background: dimgrey;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 15%;
}

.dayTrackingText3{
  position: absolute;
  background: gold;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 15%;
}

.class-theme1 {
  position: absolute;
  background: lightblue;
  padding: 2%;
  left: 33%;
  top: 37%;
  width: 30%;
  overflow: auto;
}

.class-theme2 {
  position: absolute;
  background: dimgrey;
  padding: 2%;
  left: 33%;
  top: 37%;
  width: 30%;
  bottom: 50%;
  overflow: auto;
}

.class-theme3 {
  position: absolute;
  background: gold;
  padding: 2%;
  left: 33%;
  top: 37%;
  width: 30%;
  bottom: 50%;
  overflow: auto;
}

/* Adding a value about how the day has been starts here. */
.sliderValue {
  position: absolute;
  left: 60%;
  top: 55%;
}

.questionCard {
  margin-bottom: 10px;
  height: 5%;
  top: 1%;
}

.slider {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how the day has been stops here. */

/* Adding a value about how much sleep did you get starts here. */
.sliderValueSymptom {
  position: absolute;
  left: 60%;
  top: 55%;
}

.questionCardSymptom {
  margin-bottom: 10px;
  height: 5%;
  top: 2%;
}

.sliderSymptom {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how much sleep did you get stops here. */

.symptomDetail{
  position: absolute;
  top: 13.5%;
  width: 88.3%;
}

/* Adding a value about how much did you exercised starts here. */
.sliderValueSleep {
  position: absolute;
  left: 60%;
  top: 55%;
}

.questionCardSleep {
  margin-bottom: 10px;
  height: 5%;
  top: 3%;
}

.sliderSleep {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how much did you exercised stops here. */

/* Adding a value about how is the weather starts here. */
.sliderValueEat {
  position: absolute;
  left: 60%;
  top: 55%;
}

.questionCardEat {
  margin-bottom: 10px;
  height: 5%;
  top: 4%;
}

.sliderEat {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}

.questionCardExercise{
  margin-bottom: 10px;
  height: 5%;
  top: 5%;
}

.sliderExercise{
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}

.sliderValueExercise{
  position: absolute;
  left: 60%;
  top: 55%;
}

.questionCardContact{
  margin-bottom: 10px;
  height: 5%;
  top: 6%;
}

.sliderContact{
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}

.sliderValueContact{
  position: absolute;
  left: 60%;
  top: 50%;
}

.questionCardHappiness{
  margin-bottom: 10px;
  height: 5%;
  top: 7%;
}

.sliderHappiness{
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}

.sliderValueHappiness{
  position: absolute;
  left: 60%;
  top: 55%;
}

.saveButton{
  position: absolute;
  top: 80%;
  left: 78%;
}

.cancelDayTrackingButton{
  position: absolute;
  top: 80%;
  left: 0;
  background: orangered;
}

/* Responsive for different devices */
@media screen and (max-width: 640px){
  .dayTrackingText1{
    position: absolute;
    background: lightblue;
    padding: 2%;
    left: 8%;
    top: 12%;
    width: 80%;
    height: 18.5%;
  }

  .dayTrackingText2{
    position: absolute;
    background: dimgrey;
    padding: 2%;
    left: 8%;
    top: 12%;
    width: 80%;
    height: 18.5%;
  }

  .dayTrackingText3{
    position: absolute;
    background: gold;
    padding: 2%;
    left: 8%;
    top: 12%;
    width: 80%;
    height: 18.5%;
  }

  .class-theme1 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 30.3%;
    width: 80%;
    height: 100%;
    overflow: auto;
  }

  .class-theme2 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 30.3%;
    width: 80%;
    height: 100%;
    overflow: auto;
  }

  .class-theme3 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 30.3%;
    width: 80%;
    height: 100%;
    overflow: auto;
  }

  /* Adding a value about how the day has been starts here. */
  .sliderValue {
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .questionCard {
    margin-bottom: 10px;
    height: 15%;
    top: 1%;
  }

  .slider {
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }
  /* Adding a value about how the day has been stops here. */

  /* Adding a value about how much sleep did you get starts here. */
  .sliderValueSymptom {
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .questionCardSymptom {
    margin-bottom: 10px;
    height: 15%;
    top: 2%;
  }

  .sliderSymptom {
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }
  /* Adding a value about how much sleep did you get stops here. */

  .symptomDetail{
    position: absolute;
    top: 13.5%;
    width: 88.3%;
  }

  /* Adding a value about how much did you exercised starts here. */
  .sliderValueSleep {
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .questionCardSleep {
    margin-bottom: 10px;
    height: 15%;
    top: 3%;
  }

  .sliderSleep {
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }
  /* Adding a value about how much did you exercised stops here. */

  /* Adding a value about how is the weather starts here. */
  .sliderValueEat {
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .questionCardEat {
    margin-bottom: 10px;
    height: 15%;
    top: 4%;
  }

  .sliderEat {
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }

  .questionCardExercise{
    margin-bottom: 10px;
    height: 15%;
    top: 5%;
  }

  .sliderExercise{
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }

  .sliderValueExercise{
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .questionCardContact{
    margin-bottom: 10px;
    height: 15%;
    top: 6%;
  }

  .sliderContact{
    position: absolute;
    top: 45%;
    right: 47%;
    width: 50%;
  }

  .sliderValueContact{
    position: absolute;
    left: 60%;
    top: 50%;
  }

  .questionCardHappiness{
    margin-bottom: 10px;
    height: 15%;
    top: 7%;
  }

  .sliderHappiness{
    position: absolute;
    top: 60%;
    right: 47%;
    width: 50%;
  }

  .sliderValueHappiness{
    position: absolute;
    left: 60%;
    top: 60%;
  }

  .saveButton{
    position: absolute;
    top: 110%;
    left: 70%;
  }

  .cancelDayTrackingButton{
    position: absolute;
    top: 110%;
    left: 0;
    background: orangered;
  }
}
