.class-theme1 {
  position: absolute;
  background: lightblue;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

.class-theme2 {
  position: absolute;
  background: dimgrey;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

.class-theme3 {
  position: absolute;
  background: gold;
  padding: 2%;
  left: 33%;
  top: 15%;
  width: 30%;
  height: 60%;
  bottom: 50%;
  border-radius: 2%;
}

/* Adding a value about how the day has been starts here. */
.sliderValue {
  position: absolute;
  left: 60%;
  top: 60%;
}

.questionCard {
  margin-bottom: 10px;
  height: 10%;
  top: 2%;
}

.slider {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how the day has been stops here. */

/* Adding a value about how much sleep did you get starts here. */
.sliderValueSleep {
  position: absolute;
  left: 60%;
  top: 60%;
}

.questionCardSleep {
  margin-bottom: 10px;
  height: 10%;
  top: 4%;
}

.sliderSleep {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how much sleep did you get stops here. */

/* Adding a value about how much did you exercised starts here. */
.sliderValueExercise {
  position: absolute;
  left: 60%;
  top: 60%;
}

.questionCardExercise {
  margin-bottom: 10px;
  height: 10%;
  top: 6%;
}

.sliderExercise {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how much did you exercised stops here. */

/* Adding a value about how is the weather starts here. */
.sliderValueWeather {
  position: absolute;
  left: 60%;
  top: 60%;
}

.questionCardWeather {
  margin-bottom: 10px;
  height: 10%;
  top: 8%;
}

.sliderWeather {
  position: absolute;
  top: 45%;
  right: 47%;
  width: 50%;
}
/* Adding a value about how is the weather stops here. */

.saveButton{
  position: absolute;
  top: 115%;
  left: 78%;
}

.cancelDayTrackingButton{
  position: absolute;
  top: 115%;
  left: 0;
  background: orangered;
}

/* Responsive for different devices */
@media screen and (max-width: 640px){
  .class-theme1 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .class-theme2 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .class-theme3 {
    position: absolute;
    padding: 2%;
    left: 8%;
    top: 15%;
    width: 80%;
    height: 80%;
    border-radius: 2%;
  }

  .saveButton{
    position: absolute;
    top: 115%;
    left: 72%;
  }

  .cancelDayTrackingButton{
    position: absolute;
    top: 115%;
    left: 0;
    background: orangered;
  }

  .sliderValue{
    position: absolute;
    top: 60%;
  }

  .sliderValueSleep{
    position: absolute;
    top: 60%;
  }

  .sliderValueSleep{
    position: absolute;
    top: 60%;
  }

  .sliderValueWeather{
    position: absolute;
    top: 60%;
  }
}
